
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Staatliches', cursive;
}

main{
  flex-grow: 1;
}
h1{
    font-family: 'Staatliches', cursive;
}
h2{
    font-family: 'Staatliches', cursive;
}
h3{
    font-family: 'Staatliches', cursive;
}
h4{
    font-family: 'Staatliches', cursive;
}
.custom-height{
  height: 500px;
}
.click-img{
  height: 200px;
  width: 200px;
  touch-action: manipulation
}
.hero-img {
  min-height: 75vh;
  background-image: url(https://media.giphy.com/media/tQgB6lM6XCle8/giphy.gif);
  background-size: cover;
}
.custom-icon{
  font-size: 75pt;
}
.custom-font{
  font-size: 50pt;
}
.shop-col-scroll{
  max-height: 75vh;
  overflow: auto;
}
.bottom-col{
  float: none;
  display: table-cell;
  vertical-align: bottom;
}
.badge-img{
  max-height: 100px;
}
.add-padding{
  padding-top: 5vh;
  padding-bottom: 5vh;
}
@media only screen and (max-width: 768px) {
  .sml-hidden {
    display: none;
  }
  .hero-img{
  min-height: 50vh;
}
.shop-col-scroll{
  max-height: 50vh;
}
.add-sm-border{
  margin:10px;
}
.rmv-padding{
  padding: 10px;
}
}